<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="survey4.css">
    <title>Survey Q4</title>
</head>

<body>

    <div class="box">
        <h1>Notification Behaviour</h1>
        <p class="question">How quickly do you check notifications?</p>

        <div class="gif-container">
            <img id="gif" src="/images/notification-ignore.gif" alt="notification gif">
        </div>
        <form id="form">


            <div class="slider-container">
                <input type="range" min="0" max="3" value="1" id="slider">
                <div class="labels">
                    <span>Rarely</span>
                    <span>Sometimes</span>
                    <span>Quickly</span>
                    <span>Instantly</span>
                </div>
            </div>

            <div class="feedback" id="feedback">
                You sometimes check notifications
            </div>

            <button type="submit">Save Answer</button>
        </form>
    </div>

    <script>
        const slider = document.getElementById("slider");
        const gif = document.getElementById("gif");
        const feedback = document.getElementById("feedback");
        const form = document.getElementById("form");

        //so the gif changes when the slider moves
        slider.addEventListener("input", () => {
            const value = slider.value;

            if (value == 0) {
                gif.src = "/images/notification-ignore.gif";
            }
            else if (value == 1) {
                gif.src = "/images/glitch-fast.gif";
            }
            else if (value == 2) {
                gif.src = "/images/phone-scrolling.gif";
            }
            else if (value == 3) {
                gif.src = "/images/text-scrolling.gif";
            }
        })

        let selectedValue = slider.value;

        // update text when slider moves
        function updateFeedback(value) {
            if (value == 0) {
                feedback.textContent = "You rarely check notifications";
            } else if (value == 1) {
                feedback.textContent = "You check notifications occasionally";
            } else if (value == 2) {
                feedback.textContent = "You check notifications quite quickly";
            } else if (value == 3) {
                feedback.textContent = "You check notifications instantly";
            }
        }

        slider.addEventListener("input", () => {
            selectedValue = slider.value;
            updateFeedback(selectedValue);
        });

        // save answer
        form.addEventListener("submit", (e) => {
            e.preventDefault();

            localStorage.setItem("q4_notification_score", selectedValue);
            localStorage.setItem("q4_notification_answer", feedback.textContent);

            window.location.href = "/survey5";

        });
    </script>

</body>

</html>